<!DOCTYPE html>
<html lang="en">

<head>
	<title>CourierExpress | Mi cuenta</title>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<link rel="author" href="https://plus.google.com/u/0/104296509460513856975" />

	<!-- Google Fonts -->
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,800,400,300%7CMontserrat:400,700%7CRaleway:600,400'
		rel='stylesheet'>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

	<!-- Css -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="revolution/css/settings.css" />
	<link rel="stylesheet" href="css/rev-slider.css" />
	<link rel="stylesheet" href="css/font-icons.css" />
	<link rel="stylesheet" href="css/sliders.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<link rel="stylesheet" href="css/spacings.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/color.css" />
	<!--Scroll-->
	<script type="text/javascript" src="js/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="dist/smooth-scroll.polyfills.js"></script>

	<!-- Favicons -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="apple-touch-icon" href="img/favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon.ico">

	<script type="text/javascript" src="js/express.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-select@3.1.0/dist/vue-select.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">
		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a style="color: white;"
									href="mailto:coureirexpress@gmail.com">acasillero@CourierExpress.net</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ +57 321 273 3038 | +571 495 48 08</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>

						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_ico.jpg" alt="logo">
								</a>
							</div>
						</div>

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown active">
									<li class="dropdown">
									<li><a href="" onclick="cerrarsesion()"><i class="fa fa-home" id="salir"></i> Cerrar
											Mi Cuenta</a>
									</li>
									</li> <!-- end portfolio -->




								</ul> <!-- end menu -->
							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>
	<div class="main-wrapper oh">
		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">Bienvenido a Tu cuenta</h1>
						<ol class="breadcrumb">
							<li>
								<a href="index.html">Datos Personales</a>
							</li>
							<li class="active">
								Tu Cuenta
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->

		<!-- Seccion Datos -->
		<section class="section-wrap pb-50">
			<div class="container">
				<div class="row">
					<div class="col-md-9 section-columns mb-50">
						<!-- 1/2 column -->
						<div class="row">

							<div class="col-sm-12 text-center">
								<h1 class="section-title section-title__lg">Datos Generales</h1>
							</div> <!-- end col -->
						</div><br /><br /> <!-- end row -->

						<!-- 1/2 column -->
						<div class="row">
							<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mt-50">
								Nombre - Contraseña - Direcciones</h2>

							<div class="col-sm-4">
								<h6 id="nomUsuario"></h6>
								<ul>
									<li><strong>Numero Casillero</strong></li>
									<span id="numCasillero"></span>
									<li><strong>Correo Electronico</strong> </li>
									<span id="emailUsuario"></span>
									<li><strong>Teléfono</strong></li>
									<li id="telefonoUsuario"></li>
								</ul>

							</div> <!-- end col -->

							<div class="col-sm-8">
								<h6>Cambio de Contraseña</h6>
								<!-- Contraseña -->
								<div class="tabs vertical mt-40 mb-60">

									<ul class="nav nav-tabs">

										<li class="active">
											<a href="#tab-four" data-toggle="tab">Contraseña</a>
										</li>

										<li>
											<a href="#tab-five" data-toggle="tab">Agregar Dirección</a>
										</li>
										<li>
											<a href="#tab-six" data-toggle="tab">Ver direcciones</a>
										</li>

									</ul>


									<!-- tab content -->
									<div class="tab-content">
										<div class="tab-pane fade active in" id="tab-four">
											<form id="cambioContrasena">
												<div class="col-md-12">
													<div class="form-group">
														<label>Actual</label>
														<div class="form-group ojo">
															<input type="password" class="form-control" id="OldPassword"
																name="OldPassword" placeholder="Actual Contraseña"
																required="" data-toggle="tooltip"
																data-placement="bottom" title=""
																data-original-title="Ingresa contraseña actual">
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label> Nueva</label>
														<div class="form-group ojo">
															<input type="password" class="form-control"
																placeholder="Nueva Contraseña" id="NewPassword"
																name="NewPassword" data-toggle="tooltip"
																data-placement="bottom" title=""
																data-original-title="La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico.">
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label>Confirmar</label>
														<div class="form-group ojo">
															<input type="password" class="form-control"
																placeholder="Confirmar" id="ConfirmPassword" required
																name="ConfirmPassword">
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<button class="btn btn-primary" type="submit"
														onclick="cambioPass()">Guardar Nueva</button>
													<div id="mensajeLogin"></div>
												</div>
											</form>
										</div>


										<div class="tab-pane fade" id="tab-five">
											<p>
											<h5>Multidirecciones</h5>
											<p>Puesdes agregar las direcciones de destino de tus envíos o compras
											</p>

											<!-- Button trigger modal -->
											<a href="#" class="btn btn-md btn-dark mt-10" data-toggle="modal"
												data-target="#myModal">Nueva Dirección</a>

											<div class="modal fade" id="myModal" role="dialog">
												<div class="modal-dialog">

													<!-- Modal content-->
													<div class="modal-content" id="appModal">
														<div class="modal-header">
															<button type="button" class="close"
																data-dismiss="modal">&times;</button>
															<h4 class="modal-title">Agregar Dirección de entrega</h4>
														</div>
														<div class="modal-body">

															<form>
																<!-- <slot name="body"> -->
																<input v-model="DetalleValid.input" type="text"
																	placeholder="Casa/Oficina/Mamá/etc..."
																	class="form-control"
																	v-on:keyup="validarDatos(DetalleValid)">
																<div class="control-label"
																	v-text="DetalleValid.mensaje"></div>
																<input v-model="NombreDestinatarioValid.input"
																	type="text" placeholder="Nombre del Destinatario"
																	class="form-control"
																	v-on:keyup="validarDatos(NombreDestinatarioValid)">
																<div class="control-label"
																	v-text="NombreDestinatarioValid.mensaje"></div>
																<input v-model="DireccionValid.input" type="text"
																	placeholder="Direccion" class="form-control"
																	v-on:keyup="validarDatos(DireccionValid)">
																<div class="control-label"
																	v-text="DireccionValid.mensaje"></div>
																<input v-model.number="CodigoPostalValid.input"
																	type="number" placeholder="Codigo Postal"
																	class="form-control"
																	v-on:keyup="validarDatos(CodigoPostalValid)">
																<div class="control-label"
																	v-text="CodigoPostalValid.mensaje"></div>
																<br />
																<label for="Ciudades">Selecciona una Ciudad</label>
																<v-select label="Nombre" :options="ciudadesValid"
																	v-model="CiudadIdValid"></v-select>
																<br />

														</div>
														<!-- <div class="modal-footer"> -->
														<!-- <slot name="footer"> -->

														</form>
														<div class="modal-footer">

															<label><input type="checkbox" id="checkbox"
																	v-model="PrincipalValid">&nbsp;&nbsp;&nbsp;Es
																direccion principal</label>
															<!-- </slot> -->
															<button class="btn btn-primary"
																:disabled="validar=='disabled'"
																v-on:click.prevent="enviar()">
																Grabar</button>
															<button type="button" class="btn btn-default"
																data-dismiss="modal" onclick="window.location.reload();">Salir</button>
														</div>
													</div>
												</div>
											</div>
											</p>
										</div>
										<div class="tab-pane fade" id="tab-six">
											<div id="collapseDireccion" class="panel-collapse collapse in"
												role="tabpanel" aria-labelledby="headingDireccion">
												<div class="panel-body">
													<div class="col-md-12">
														<div id="appDirecciones" v-cloak>
															<div class="direccion-list" v-for="address in results">
																<div class="panel panel-danger">
																	<div class="panel-heading">
																		{{ address.detalle }}
																		<i v-if="address.principal"
																			class="icon-check pull-right"></i>
																	</div>
																	<div class="panel-body">
																		{{ address.nombreDestinatario}}
																		<br />
																		{{ address.direccion }},
																		{{ address.nombreCiudad}}
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> <!-- end contraseña-->
							</div>
						</div> <!-- end row -->


						<!--Consulta Alertas envios -->
						<section class="section-wrap pb-10" id="paquete">
							<h2
								class="heading relative heading-small uppercase bottom-line style-2 left-align mt-50 mb-0">
								Consulta tus compras</h2>

							<!-- Accordions -->
							<div class="panel-group accordion mb-50" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
											class="minus">Envíos Actuales<span>&nbsp;</span>
										</a>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<div id="appPaq" class="table-responsive" v-cloak>
												<table class="table table-bordered table-striped  table-bordered ">
													<thead class="table-responsive">
														<th>Fecha</th>
														<th>Guía</th>
														<th>Contenido</th>
														<th>VR-USD</th>
														<th>Peso (Grs)</th>
														<th>Estado</th>
														<th>&nbsp;</th>
													</thead>
													<tbody v-for="paq in results" class="table-responsive">
														<tr>
															<td class="table-responsive">
																{{ paq.ArrivalWinery | formatDate }} </td>
															<td class="table-responsive">{{ paq.PackageId }}</td>
															<td class="table-responsive"
																v-if="paq.Description.length <20">
																{{ paq.Description }}</td>
															<td class="table-responsive"
																v-else="paq.Description.length >=20">
																{{ paq.Description.substring(0,18)+".."}}</td>
															<td class="table-responsive">{{ paq.DeclaredValue }}</td>
															<td class="table-responsive">{{ paq.Weight }}</td>
															<td class="table-responsive">{{ paq.StateDescription }}</td>
															<td class="table-responsive"><a
																	:href="'mc-tracking.html?id=' + paq.PackageId +'#headingTrack'">Tracking</a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default" id="historico">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
											class="plus">Historico paquetes<span>&nbsp;</span>
										</a>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="appHis" class="table-responsive" v-cloak>
												<table class="table table-bordered table-striped  table-bordered ">
													<thead class="table-responsive">
														<th>Fecha</th>
														<th>Guía</th>
														<th>Contenido</th>
														<th>VR-USD</th>
														<th>Peso (Grs)</th>
														<th>Estado</th>
														<th>&nbsp;</th>
													</thead>
													<tbody v-for="paq in results" class="table-responsive">
														<tr>
															<td class="table-responsive">
																{{ paq.DateDelivery | formatDate }} </td>
															<td class="table-responsive">{{ paq.PackageId }}</td>
															<td class="table-responsive"
																v-if="paq.Description.length <20">
																{{ paq.Description }}</td>
															<td class="table-responsive"
																v-else="paq.Description.length >=20">
																{{ paq.Description.substring(0,18)+".."}}</td>
															<td class="table-responsive">{{ paq.DeclaredValue }}</td>
															<td class="table-responsive">{{ paq.Weight }}</td>
															<td class="table-responsive">{{ paq.State }}</td>
															<td class="table-responsive"><a
																	:href="'mc-tracking.html?id=' + paq.PackageId +'#headingTrack'">Tracking</a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default" id="alertas">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
											class="plus">Mis Alertas<span>&nbsp;</span>
										</a>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="appAlert" class="table-responsive" v-cloak>
												<table class="table table-bordered table-striped  table-bordered ">
													<thead class="table-responsive">
														<th>Fecha</th>
														<th>Numero Alerta</th>
														<th>Contenido</th>
														<th>Numero Carrier</th>
														<th>Estado</th>
														<th>Numero Paquete</th>
													</thead>
													<tbody v-for="paq in results" class="table-responsive">
														<tr>
															<td class="table-responsive">
																{{ paq.CreationDate | formatDate }} </td>
															<td class="table-responsive">{{ paq.PrealertId }}</td>
															<td class="table-responsive"
																v-if="paq.Description.length <20">
																{{ paq.Description }}</td>
															<td class="table-responsive"
																v-else="paq.Description.length >=20">
																{{ paq.Description.substring(0,18)+".."}}</td>
															<td class="table-responsive">
																{{ paq.CarrierNumber}}</td>
															<td class="table-responsive" v-if="paq.State == true">
																Procesada</td>
															<td class="table-responsive" v-if="paq.State == false">
																Alertada</td>
															<td class="table-responsive" v-if="paq.paqueteId == 0">
																N/A</td>
															<td class="table-responsive" v-else>
																{{ paq.paqueteId }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
											class="plus">Alerta tu Envío<span>&nbsp;</span>
										</a>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<form id="formAlerta">
												<div class="col-sm-6">
													<h6>Compañia Transportadora</h6>
													<select id="idCarrier" name="idCarrier" data-toggle="tooltip"
														data-placement="auto" required
														title="Selecciona la Compañía Transportadora">
														<option selected value="">Transportadora</option>
														<option value="1">UPS</option>
														<option value="2">Fedex</option>
														<option value="5">DHL</option>
														<option value="3">Amazon</option>
														<option value="1006">Otros</option>
													</select>

												</div> <!-- end col -->

												<div class="col-sm-6">
													<h6>Número de Tracking</h6>
													<input type="text" id="trackingNumber" name="trackingNumber"
														value='' placeholder="#Tracking" data-toggle="tooltip"
														data-placement="auto" title="entre 6 a 100 caracteres" required
														maxlength="50" onchange="validarTrack()">

												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Selecciona el Destino</h6>
													<select id="direcciones" name="direcciones" data-toggle="tooltip"
														data-placement="auto" title="Selecciona la Dirección de Destino"
														placeholder="Selecciona la Dirección de Destino" required>
														<!-- envioIdLocation -->
														<option value=''>Selecciona la Dirección de Destino </option>
													</select>
												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Destinatarios</h6>
													<input type="text" id="destinatario" name="destinatario"
														maxlength="100" value='' placeholder="Destinatario"
														data-toggle="tooltip" data-placement="auto"
														title="Ingresa el nombre de destino" required>
												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Tipo de Categoria</h6>
													<select id="posicionArancelaria" name="posicionArancelaria"
														required="">
														<option value="9807200000" selected>Otros envíos Urgentes
														</option>
														<option value="6114909000">Ropa</option>
														<option value="8471300000">Tecnología</option>
														<option value="8522905000">Otras categorias</option>
													</select>
												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Descripción Productos</h6>
													<input type="text" id="descripcion" name="descripcion" value=''
														placeholder="Descripción del producto" data-toggle="tooltip"
														data-placement="auto" required=""
														title="Ingresa breve descripcion del producto">
												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Valor del Producto</h6>
													<input class="form-control form-control-rounded form-control-sm"
														type="number" placeholder="Valor USD" id="Valor" name="Valor"
														value='' data-toggle="tooltip" data-placement="auto"
														title="Valor del producto" required>
												</div> <!-- end col -->
												<div class="col-sm-6">
													<h6>Adjuntar Factura</h6>
													<div class="input-group">
														<input class="hidden" type="file" id="ImageUrl"
															onchange="validarExtencion()">
														<div class="input-group input-file" name="Fichier1"></div>
														<input id="fileName" type="text" class="form-control"
															placeholder='Buscar factura de compra' />
														<span class="input-group-btn">
															<button class="btn btn-sm btn-color rounded"
																style="padding: 10px;" type="button"
																onclick="getFile()">Examinar</button>
														</span>
													</div>
												</div> <!-- end col -->
												<div class="col-sm-12">
													<p> * Utilice archivos en formato: .gif, .jpg, .png para
														adjuntar la
														factura.<br />
														* Utilice archivos con un tamaño NO superior a 1
														MB.<br />
														<b>*De no estar seguro de su factura por favor NO
															adjunte el
															archivo</b>
														<br /><input type="button" class="specialbtn"
															value="Eliminar Archivo" onclick="quitarArchivo()">
													</p>
												</div>
												<div class="col-sm-12" style="display: grid;">
													<input class="btn btn-md btn-blue rounded" type="submit"
														style="width: auto;" value="Alertar Paquete"
														onclick="grabarAlerta()" />
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="panel panel-default" id="calculo">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
											class="plus">Calcula tu Envío<span>&nbsp;</span>
										</a>
									</div>
									<div id="collapseFive" class="panel-collapse collapse">
										<div class="panel-body">
											<form id="calculatorForm" onsubmit="calcularClick()">
												<div class="container">
													<div class="row">
														<div class="col-md-9 section-columns mb-50">
															<!-- Origen -->
															<div class="row">
																<div class="col-sm-6">
																	<h6>ORIGEN</h6>
																	<select name="idPaisOrigen" id="idPaisOrigen"
																		required>
																		<option value="1" selected>USA</option>
																		<option value="76">ESPAÑA</option>
																		<option value="75">CHINA</option>
																	</select>
																</div>
																<!-- end col -->
																<div class="col-sm-5">
																	<h6>DESTINO</h6>
																	<select name="pais" id="pais" required=""
																		onchange="cargaDept()"
																		class="form-control form-control-rounded form-control-sm"
																		data-toggle="tooltip" data-placement="auto"
																		title=""
																		data-original-title="Seleccione un País">
																		<option selected value="">Seleccione País
																		</option>
																	</select>
																	<select name="estado" id="estado" required=""
																		onchange="cargaCiudades()"
																		class="form-control form-control-rounded form-control-sm"
																		data-toggle="tooltip" data-placement="auto"
																		title=""
																		data-original-title="Seleccione un Departamento o Estado">
																		<option selected value="">Seleccione
																			Departamento/Estado</option>
																	</select>
																	<select name="ciudad" id="ciudad" required=""
																		class="form-control form-control-rounded form-control-sm"
																		data-toggle="tooltip" data-placement="auto"
																		title=""
																		data-original-title="Seleccione una ciudad o provincia">
																		<option selected value="">Seleccione
																			Ciudad/Provincia</option>
																	</select>
																</div>
																<!-- end col -->
															</div>
															<!-- end row -->

															<!-- Costo -->
															<div class="row">
																<div class="col-sm-3">
																	<h6>Moneda</h6>
																	<select
																		class="form-control form-control-rounded form-control-sm"
																		id="moneda">
																		<option>USD</option>
																		<!--<option>COP</option>-->
																	</select>
																</div>
																<!-- end col -->

																<div class="col-sm-3">
																	<h6>Valor declarado</h6>
																	<input type="number" id="valorDeclarado" value=''
																		placeholder="$ Declarado" data-toggle="tooltip"
																		data-placement="auto"
																		title="Ingrese Valor mayor a 0" step="any"
																		required>
																</div>
																<!-- end col -->

																<div class="col-sm-5">
																	<h6>Descripción</h6>
																	<input name="descripción " type="text"
																		placeholder="Ejemplo:Calzado Dama" />
																</div>
																<!-- end col -->
															</div>
															<!-- end row -->

															<!-- Detalles -->
															<div class="row">
																<div class="col-sm-4">
																	<h6>Unidades peso</h6>
																	<select id="tUnidad" value=''>
																		<option value='LB'>Libras</option>
																		<!--<option>kg</option>-->
																	</select>
																</div>
																<!-- end col -->

																<div class="col-sm-3">
																	<h6>Peso</h6>
																	<input type="number" id='pesoTotal'
																		data-toggle="tooltip" data-placement="auto"
																		title="Ingrese Valor mayor a 0">
																</div>
																<!-- end col -->

																<div class="col-sm-4">
																	<h6>Dimensiones Volumétricas</h6>
																	<input class="form-control form-control-rounded "
																		type="checkbox" id='dimensionesVol'
																		data-toggle="tooltip" data-placement="auto"
																		title="Seleccione para Adicionar Dimensiones"
																		onchange="mostrarVolumetricas(this.checked)">
																</div>
																<!-- end col -->
															</div>
															<div class="row" id="MuestroVol" style="display:none;">
																<div class="col-sm-2">
																	<div class="form-group">
																		<label for="checkout-country"></br></label>
																		<select
																			class="form-control form-control-rounded form-control-sm"
																			id='tDimension' value=''>
																			<!--<option>Pulgadas</option>-->
																			<option value='CM'>Centí</option>
																		</select>
																	</div>

																</div>
																<div class="col-sm-2">
																	<div class="form-group">
																		<label for="checkout-ln"> </br> </label>
																		<input
																			class="form-control form-control-rounded form-control-sm"
																			type="number" id='alto' value=''
																			placeholder="Alto">
																		<br />
																	</div>
																</div>

																<div class="col-sm-2">
																	<div class="form-group">
																		<label for="checkout-ln"> </br> </label>
																		<input
																			class="form-control form-control-rounded form-control-sm"
																			type="text" id='largo' value=''
																			placeholder="Largo">
																	</div>
																</div>

																<div class="col-sm-2">
																	<div class="form-group">
																		<label for="checkout-ln"> </br> </label>
																		<input
																			class="form-control form-control-rounded form-control-sm"
																			type="text" id='ancho' value=''
																			placeholder="Ancho">
																	</div>
																</div>
															</div>
															<!-- end row -->
															<div class="col-sm-6">
																<h6>CALCULAR TU ENVÍO</h6>
																<button class="btn btn-primary margin-bottom-none"
																	onclick="">Calcular</button>
															</div>
														</div>
														<div class="col-xl-12 col-lg-12" id="estimacion">
															<aside class="sidebar">
																<div class="gap-10"></div>

																<h3 class="widget-title">Estimación de Costos</h3>
																<table class="table">
																	<tr>
																		<td>Flete Estimado: </td>
																		<td class="text-medium" id="lbflete"> </td>
																	</tr>
																	<tr>
																		<td>Seguro: </td>
																		<td class="text-medium" id="lbseguro"> </td>
																	</tr>
																	<tr>
																		<td>Arancel: </td>
																		<td class="text-medium" id="lbarancel"> </td>
																	</tr>
																	<tr>
																		<td>IVA: </td>
																		<td class="text-medium" id="lbiva"> </td>
																	</tr>
																	<tr>
																		<td>Valor Total en USD </td>
																		<td class="text-lg text-medium" id="lbTOTAL">
																		</td>
																	</tr>
																</table>
																<!-- </section><br /><br /> -->
																<!-- Featured Products Widget-->
																<section class="widget widget-featured-products">
																	<h3 class="widget-title">¿Cómo funciona el cálculo?
																	</h3>
																	<!-- Entry-->
																	<!-- <div class="entry"> -->
																	<div class="entry">
																		<p>La calculadora dará un costo aproximado de
																			los envíos puestos en
																			el
																			país
																			de
																			destino con base en los
																			datos suministrados.
																			<br /><br />Este valor podrá variar por la
																			fluctuación de la
																			tasa
																			representativa de cambio (TRM) a
																			la fecha de recibido de tu paquete o
																			mercancía. <br />
																	</div>
																</section>
															</aside>
														</div>
														<!-- end col -->
													</div>
													<!-- end row -->
												</div>
												<!-- end container -->
											</form>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--End Consulta Alertas envios -->

						<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mt-50"
							id="dir">Direcciones de Envío</h2>

						<!-- Icon Boxes Style-2 -->
						<div class="row icon-boxes style-2">
							<blockquote class="blockquote-style-2">
								<p>
									Utiliza las direcciónes correspondiente al país donde realizas tus compras online
									en las tiendas virtuales como dirección de entrega. Asegurate de digitar en el
									campo "segunda dirección" o al final de la primera dirección tu código suite,
									este nos permitirá identificar de las compras que te pertenecen.
								</p>
							</blockquote>
							<div class="col-md-4 mb-60">
								<div class="service-item-box">
									<i class="icon-tools"></i>

									<h3>USA</h3>
									<p class="mb-0">2120 NW 96th Ave,
										Doral, Florida USA zip code 33172-2325</p>
								</div>
							</div> <!-- end service item -->

							<div class="col-md-4 mb-60">
								<div class="service-item-box">

									<i class="icon-envelope"></i>

									<h3>ESPAÑA</h3>
									<p class="mb-0">Avenida las Americas 4 Nave B6 Código 28823, Madrid, España</p>
								</div>
							</div> <!-- end service item -->

							<div class="col-md-4 last">
								<div class="service-item-box">

									<i class="icon-mobile"></i>

									<h3>CHINA</h3>
									<p class="mb-0">A101 guanghua huo yun ground 2721th jichang road baiyun Guangzhou
										GUANGDONG China</p>
								</div>
							</div> <!-- end service item -->
						</div>
						<!-- Contact -->
						<section class="section-wrap-lg contact" id="contact">
							<div class="container">
								<h2
									class="heading relative heading-small uppercase bottom-line style-2 left-align mt-50">
									Contacto</h2>

								<div class="row">

									<div class="col-md-4 mb-40">
										<h5 class="uppercase">INFORMACIÓN</h5>

										<div class="contact-item">
											<div class="contact-icon">
												<i class="icon icon_house_alt"></i>
											</div>
											<p>Colombia<br>
												Bogotá<br>
												Cra. 70G #127A-25 OF 101</p>
										</div> <!-- end address -->

										<div class="contact-item">
											<div class="contact-icon">
												<i class="icon icon_mobile"></i>
											</div>
											<span>+57 3107972030 - +57 310 2350940 </span>
										</div> <!-- end phone number -->

										<div class="contact-item">
											<div class="contact-icon">
												<i class="icon icon_mail_alt"></i>
											</div>
											<a href="mailto:afelasupport@gmail.com"
												class="dark-link">contacto@courierexpress.com.co</a>
										</div> <!-- end email -->

									</div>

									<div class="col-md-4">
										<form id="contact-form" action="#">

											<div class="row">
												<div class="col-md-12 contact-name">
													<input name="name" id="name" type="text" placeholder="Nombre*">
												</div>
												<div class="col-md-12 contact-email">
													<input name="mail" id="mail" type="email" placeholder="E-mail*">
												</div>
											</div>

											<textarea name="comment" id="comment" placeholder="Mensaje"
												rows="9"></textarea>

											<input type="submit" class="btn btn-md btn-dark rounded btn-submit"
												value="Envìar mensaje" id="submit-message">
											<div id="msg" class="message"></div>
										</form>
									</div> <!-- end col -->

								</div>
							</div>
						</section> <!-- end contact -->





					</div> <!-- end col total -->

					<!-- Sidebar -->
					<aside class="col-md-3 sidebar">
						<div class="widget categories">
							<h3 class="widget-title">VER OTROS</h3>
							<ul class="list-dividers">
								<li><a data-scroll href="#">Datos</a></li>
								<li><a data-scroll href="#paquete">Envíos Actuales</a></li>
								<li><a data-scroll href="#paquete">Mis Alertas</a></li>
								<li><a data-scroll href="#paquete">Alerta tu envío</a></li>
								<li><a data-scroll href="#paquete">Calculadora</a></li>
								<li><a data-scroll href="#dir">Direcciones</a></li>
								<li><a data-scroll href="#contact">Contacto</a></li>
								<li><a data-scroll href="planes.html" target="_blank">Planes</a>
								</li>


								<li></li>
							</ul>
						</div>
					</aside>

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section>
		<!-- end Seccion Datos -->

		<!-- Footer -->
		<footer class="footer footer-type-1">
			<div class="container">
				<div class="footer-widgets">
					<div class="row">

						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="widget footer-about-us">
								<h5 class="uppercase">CourierExpress</h5>
								<p style="color: white;" class="mb-20"><strong>Asistencia de compras:</strong>
									Si no tienes forma de hacer esta compra no hay ningún problema, te contactas con
									alguno de nuestros asesores y te ayudaremos a buscar un mejor precio, con una
									cotización gratuita, puedes contactar al teléfono: <strong>321 273 3038.</strong>
									<br>
									<strong>Servicios especializados:</strong>
									Transporte de Carga Área, Tramites Aduaneros y Tramites de Exportación, llámanos y
									te informamos</p>
								<p style="color: white;">Mail-marketing:</p>
								<form class="relative newsletter-form style-2">
									<input type="email" class="newsletter-input" placeholder="e-mail">
									<i class="icon_mail"></i>
									<input type="submit" class="btn btn-md btn-dark newsletter-submit"
										value="Suscríbete">
								</form>

							</div>
						</div> <!-- end about us -->
						<!-- end about us -->

						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="widget footer-posts with-thumbs">
								<h5 class="uppercase">Tips de Compra</h5>
								<div class="footer-entry-list">

									<ul class="posts-list no-top-pad">
										<li class="footer-entry">
											<article class="post-small clearfix">
												<div class="entry-img hover-scale">
													<a href="magazine-single-article.html">
														<img src="img/magazine/thumb_11.jpg" alt="">
													</a>
												</div>
												<div class="entry">
													<h3 class="entry-title"><a
															href="magazine-single-article.html">Tiendas Online sólo para
															ellas.</a></h3>
													<ul class="entry-meta list-inline">
														<li class="entry-date">
															<a href="https://www.carolinaherrera.com/co/es/?gclid=EAIaIQobChMIpcCqg4yp5QIVjcDACh3AYAR3EAAYASAAEgILG_D_BwE "
																target="_blank">Para un gusto femenino.</a>
														</li>
														<li class="entry-comments">
															<i class="fa fa-comments"></i><a
																href="magazine-single-article.html">Visitanos</a>
														</li>
													</ul>
												</div>
											</article>
										</li>
										<li class="footer-entry">
											<article class="post-small clearfix">
												<div class="entry-img hover-scale">
													<a href="magazine-single-article.html">
														<img src="img/magazine/thumb_12.jpg" alt="">
													</a>
												</div>
												<div class="entry">
													<h3 class="entry-title"><a
															href="magazine-single-article.html">Tiendas Online sólo para
															ellos.</a></h3>
													<ul class="entry-meta list-inline">
														<li class="entry-date">
															<a href="https://www.versace.com/international/en/home/"
																target="_blank">Para un gusto masculino.</a>
														</li>
														<li class="entry-comments">
															<i class="fa fa-comments"></i><a
																href="magazine-single-article.html">Visitanos</a>
														</li>
													</ul>
												</div>
											</article>
										</li>
									</ul>

								</div>
							</div>
						</div> <!-- end recent posts -->
						<!-- end latest posts -->
					</div>
				</div>
			</div> <!-- end container -->

			<div class="bottom-footer">
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-xs-12 copyright">
							<span>
								© 2019 | Por CourierExpress
							</span>
						</div>

						<div class="col-md-3 col-xs-12 footer-socials mt-mdm-10 text-right">
							<div class="social-icons dark">
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>

							</div>
						</div>

					</div>
				</div>
			</div> <!-- end bottom footer -->
		</footer> <!-- end footer -->
		<!-- end footer -->

		<div id="back-to-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</div>

	</div> <!-- end main-wrapper -->

	<!-- jQuery Scripts -->
	<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/rev-slider.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/miCuenta.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/mc-alerta.js"></script>
	<script type="text/javascript" src="js/moment.js"></script>
	<script type="text/javascript" src="js/calculadoraInterna.js"></script>
	<script type="text/javascript" src="js/cambioPassword.js"></script>
	<script type="text/javascript" src="js/registro-ciudades.js"></script>
	<script type="text/javascript" src="js/adressList.js"></script>
	<script type="text/javascript" src="js/sweetalert.min.js"></script>

	<!-- Validator -->
	<script src="vendor/jquery.validate.js"></script>

	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">
		function cerrarsesion() {
			fivepaq.logOut();
			location.href = "index.html";
		}
		var dataout = fivepaq.dataOut();

		if (dataout == null || dataout.L !== true) {
			location.href = "index.html";
		}

		$("#nomUsuario").html(dataout.U);//este es el campo del usuario
		$("#emailUsuario").html(dataout.E);//este es el campo del Email
		$("#numCasillero").html(dataout.N);//Este es campo del casillero
		$("#telefonoUsuario").html(dataout.Tel);//Este es campo del telefono
		fivepaq.cargarDireccionesCliente();
	</script>


	<!--MODAL CONTRATO -->
	<div class="modal fade" id="Contrato" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Términos y Condiciones </h4>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p align="justify">
						Auropaq Inc - Fivepaq es un servicio de entrega internacional para el Comercio Electrónico,
						que genera para cada uno de nuestros clientes (afiliados), una cuenta que provee entre otras
						herramientas,
						una dirección permanente en los Estados Unidos, la cual es utilizada por los afiliados como la
						dirección donde
						se dirigen tus compras "Ship to Address" dentro de los Estados Unidos y que es a su vez, la
						misma dirección de Auropaq Inc - Fivepaq en Miami.
						Auropaq Inc - Fivepaq se encarga de recibir tus compras en USA y, además, enviarlas a tu país
						atendiendo todo el proceso de nacionalización y
						entrega en tu casa u oficina.
					</p>
					<p align="justify">El servicio de Auropaq Inc - Fivepaq consiste en:</p>
					<p align="justify">1. El Servicio de Auropaq Inc - Fivepaq es provisto por Auropaq Inc - Fivepaq.
						Este
						es un convenio entre Auropaq Inc - Fivepaq y el afiliado.
						Auropaq Inc - Fivepaq asignará al afiliado una dirección permanente en los Estados Unidos para
						direccionar la entrega de todas tus compras por internet.</p>
					<p align="justify">2. El registro al Servicio de Casillero Internacional Auropaq Inc - Fivepaq es
						gratuito. El afiliado sólo pagará los costos relacionados con el proceso de envió
						de mercancía que aplican para cada país.</p>
					<p align="justify">3. Mediante el servicio, Auropaq Inc - Fivepaq recibe, clasifica, transporta a tu
						país, gestiona trámites aduanales y entrega en la dirección designada por el
						afiliado toda la mercancía y pedidos en general.</p>
					<p align="justify">4. El Afiliado autoriza a Auropaq Inc - Fivepaq y/o al representante local en
						cada
						país a cobrar de acuerdo con las siguientes modalidades de pago, escogidas por el
						afiliado en el momento del registro de su casillero Auropaq Inc - Fivepaq:</p>
					<p align="justify">• Por anticipado con cargo automático a su tarjeta de crédito.<br />
						• Pago contra entrega con cargo a su tarjeta de crédito.<br />
						• En efectivo<br />
						• Pagos a través de PayPal.</p>
					<p align="justify">Débitos a paquetes prepagados obtenidos como consecuencia de promociones u
						ofertas
						especiales. según las tarifas para cada país que aparecen en las páginas de nuestro sitio web:
						www.Fivepaq.com.</p>
					<p align="justify">Igualmente, el afiliado autoriza a Auropaq Inc - Fivepaq por este mismo medio a
						cobrar cargos incidentales —directos e indirectos— asociados con el manejo de las compras, tales
						como: Impuestos aduanales,
						impuestos al valor agregado (IVA), almacenaje, manejos especiales, reempaque, peso, volumen y
						cualquier otro cargo que se genere por concepto del envío de su mercancía.</p>
					<p align="justify">5. Todos los envíos están sujetos a ser cobrados por el peso dimensional, cuando
						se
						sobrepasa el peso físico. La siguiente es la fórmula que se utiliza para calcular el peso
						dimensional (el mayor peso se aplicará).</p>
					<p align="justify">Largo x Ancho x Alto (en pulgadas) dividido por 166 = el peso dimensional de la
						caja. Para obtener más información sobre este tema, consulta nuestra página web: www.Fivepaq.com
					</p>
					<p align="justify">6. Las unidades utilizadas para efectos de cobro a la tarjeta de crédito son:
						Dólares americanos y libras. La conversión de libras a kilos es: 450 gr. = 1 libra. </p>
					<p align="justify">7. Seguro Básico: Auropaq Inc - Fivepaq, provee al afiliado sin costo adicional,
						un
						seguro básico en caso de pérdida o daño, con cobertura de U.S.$9.00/lb. hasta un máximo de
						U.S.$100.00. El afiliado tiene la opción de
						asegurar por un mayor valor, a un costo adicional, el cual debe solicitar por medio de un ticket
						en
						nuestra página web: www.Fivepaq.com. El seguro adicional está sujeto a restricciones y
						deducibles.</p>
					<p align="justify">8. Costos de transporte son cargados de acuerdo al método de pago escogido por el
						afiliado al momento de registrarse. Envíos para entrega en regiones o ciudades que no sean la
						capital del país están sujetos a
						cargos adicionales. Verifica costos de manejo y transporte a tu país, en: www.Fivepaq.com o
						llamando a tu representante local.</p>
					<p align="justify">9. Auropaq Inc - Fivepaq., es el proveedor del servicio de entrega internacional
						de
						tus compras por internet y como tal es responsable
						de la efectividad del mismo. Todo reclamo debe hacerse mediante la creación de un un ticket
						ingresando a: www.Fivepaq.com, o dirigiéndote a
						tu representante local, o llamándonos al +1 786 474 2836 en USA</p>
					<p align="justify">10. Las tarifas listadas en las páginas del sitio web: www.Fivepaq.com , están
						sujetas a cambio sin previo aviso, no obstante,
						Auropaq Inc - Fivepaq hará esfuerzos por comunicarte cualquier cambio realizado.</p>
					<p align="justify">11. Auropaq Inc - Fivepaq. no asume ninguna responsabilidad respecto a la
						calidad,
						cantidad, marca o cualquier otro aspecto
						de las mercancías o servicios que el Afiliado adquiera u obtenga para ser transportado por el
						servicio Auropaq Inc - Fivepaq.
						Todo reclamo o disputa debe ser resuelto directamente con el vendedor o con el establecimiento
						comercial del cual el Afiliado
						obtuvo la mercancía o el servicio.</p>
					<p align="justify">12. El Afiliado al Servicio de Casillero Internacional Auropaq Inc - Fivepaq es
						responsable de la información provista para
						la contratación del servicio, y por lo tanto adquiere la obligación de notificar a Auropaq Inc -
						Fivepaq, todo cambio relacionado
						con tu información personal o de pagos.</p>
					<p align="justify">13. El servicio Auropaq Inc - Fivepaq está diseñado única y exclusivamente para
						fines lícitos. Auropaq Inc - Fivepaq.,
						trabaja con las autoridades respectivas locales e internacionales para la identificación y
						procesamiento legal de personas naturales o
						jurídicas que utilicen el servicio Auropaq Inc - Fivepaq de forma ilegal. Es obligación del
						Afiliado reportar problemas de identidad o
						extravío de documentación personal o de pagos, mediante la creación de un ticket, accediendo a:
						www.Fivepaq.com.</p>
					<p align="justify">14. Auropaq Inc - Fivepaq. se reserva el derecho de detener cualquier mercancía
						que
						se sospeche o se identifique que fue
						adquirida mediante una transacción fraudulenta o ilegal. La información obtenida en estos casos
						es
						suministrada a las autoridades
						locales e internacionales que monitorean y combaten el fraude en-línea. </p>
					<p align="justify">15. Auropaq Inc - Fivepaq se reserva el derecho de disponer de tus despachos de
						la
						manera que crea conveniente después de un
						periodo que exceda cinco (5) meses para paquetes y mercancía, y treinta (30) días para
						correspondencia, catálogos y revistas.</p>
					<p align="justify">16. Mercancía Restringida:</br>A continuación, mencionamos algunos productos que
						cuentan con restricciones internacionales o
						locales ya sea para el despacho vía aérea desde los Estados Unidos o para el ingreso a
						diferentes
						países. Auropaq Inc -
						Fivepaq ha creado la siguiente página de consulta con información importante: Auropaq Inc -
						Fivepaq/ restringidos.html.
						Toda mercancía de esta naturaleza que se reciba en nuestras instalaciones en Miami, será
						manejada
						—Sujeto a costos adicionales
						por manejo— de acuerdo con las instrucciones que nos proveas en www.Fivepaq.com</p>
					<p align="justify">17. Tu Casillero Internacional Auropaq Inc - Fivepaq te permite hacer
						actualizaciones a tu paquete básico de servicios con
						el fin de que puedas obtener garantías adicionales por año, desde el momento del registro. La
						renovación de estos servicios
						opcionales se realiza automáticamente por términos sucesivos de un año. El Afiliado recibirá con
						treinta días (30) de anticipación
						una notificación por correo electrónico (e-mail) informándole que el servicio está por expirar y
						que Auropaq Inc - Fivepaq.
						cargará el monto anual de renovación al Afiliado. Si el Afiliado no desea renovar alguno de
						estos
						servicios por un nuevo término,
						deberá notificarlo en su cuenta para evitar los cargos adicionales correspondientes, a su
						tarjeta de crédito.
						El monto anual de costos por estos servicios
						no es reembolsable bajo ninguna circunstancia. El Afiliado, autoriza a Auropaq Inc - Fivepaq. a
						cargar el monto anual de afiliación a los servicios contratados bajo esta modalidad.</p>
					<p align="justify">18. Para atender tu correspondencia en los Estados Unidos, puedes autorizarnos
						este
						servicio sujeto a un costo anual de US$30.
						Solicítanos esta opción mediante un ticket en: www.Fivepaq.com Mediante este servicio, Auropaq
						Inc
						- Fivepaq. recibe, clasifica,
						transporta hasta tu país, gestiona trámites aduanales y entrega en la dirección designada por el
						afiliado toda su correspondencia,
						mercancía y pedidos en general, el envío de correspondencia recibida en la dirección de correo
						postal se realizará dos veces por
						mes al país de destino.</p>
					<p align="justify">Al utilizar una dirección postal en los Estados Unidos, el afiliado, está
						expuesto a
						recibir correspondencia "No solicitada"
						en su apartado postal y como tal es responsable de todos los costos asociados con el transporte
						de
						ésta a tu país de residencia.</p>

				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>